MixMixMVC/MixMixMVC/Connected Services/CustomerServiceReference/item.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Entities" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Entities" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://localhost:43003/?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="Customer">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Contact">
        <xs:sequence>
          <xs:element minOccurs="0" name="FavoriteDrinks" nillable="true" type="tns:ArrayOfDrink" />
          <xs:element minOccurs="0" name="Id" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Customer" nillable="true" type="tns:Customer" />
  <xs:complexType name="Contact">
    <xs:sequence>
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PhoneNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Username" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Contact" nillable="true" type="tns:Contact" />
  <xs:complexType name="ArrayOfDrink">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Drink" nillable="true" type="tns:Drink" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDrink" nillable="true" type="tns:ArrayOfDrink" />
  <xs:complexType name="Drink">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Ingredients" nillable="true" type="tns:ArrayOfQuantifiedIngredient" />
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Names" nillable="true" type="q1:ArrayOfstring" />
      <xs:element minOccurs="0" name="Recipe" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Drink" nillable="true" type="tns:Drink" />
  <xs:complexType name="ArrayOfQuantifiedIngredient">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="QuantifiedIngredient" nillable="true" type="tns:QuantifiedIngredient" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfQuantifiedIngredient" nillable="true" type="tns:ArrayOfQuantifiedIngredient" />
  <xs:complexType name="QuantifiedIngredient">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Ingredient" nillable="true" type="tns:Ingredient" />
      <xs:element minOccurs="0" name="Measurement" nillable="true" type="tns:Measurement" />
      <xs:element minOccurs="0" name="Quantity" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="QuantifiedIngredient" nillable="true" type="tns:QuantifiedIngredient" />
  <xs:complexType name="Ingredient">
    <xs:sequence>
      <xs:element minOccurs="0" name="Alch" type="xs:double" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Measurable" type="xs:boolean" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Ingredient" nillable="true" type="tns:Ingredient" />
  <xs:complexType name="Measurement">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Proportion" type="xs:double" />
      <xs:element minOccurs="0" name="Type" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Measurement" nillable="true" type="tns:Measurement" />
  <xs:simpleType name="CustomerColumn">
    <xs:restriction base="xs:string">
      <xs:enumeration value="name" />
      <xs:enumeration value="phonenumber" />
      <xs:enumeration value="email" />
      <xs:enumeration value="username" />
      <xs:enumeration value="hashedPassword" />
      <xs:enumeration value="salt" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="CustomerColumn" nillable="true" type="tns:CustomerColumn" />
  <xs:complexType name="ArrayOfCustomer">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Customer" nillable="true" type="tns:Customer" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCustomer" nillable="true" type="tns:ArrayOfCustomer" />
</xs:schema>