MixMixWPF/MixMixWPF/Connected Services/LocationServiceReference/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="LocationService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="locationServiceTcp_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1">
        </msb:BinaryEncoding>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256>
                </sp:Basic256>
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict>
                </sp:Strict>
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing>
        </wsaw:UsingAddressing>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/Entities" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ILocationService_getCountries_InputMessage">
    <wsdl:part name="parameters" element="tns:getCountries" />
  </wsdl:message>
  <wsdl:message name="ILocationService_getCountries_OutputMessage">
    <wsdl:part name="parameters" element="tns:getCountriesResponse" />
  </wsdl:message>
  <wsdl:message name="ILocationService_getZipcodesById_InputMessage">
    <wsdl:part name="parameters" element="tns:getZipcodesById" />
  </wsdl:message>
  <wsdl:message name="ILocationService_getZipcodesById_OutputMessage">
    <wsdl:part name="parameters" element="tns:getZipcodesByIdResponse" />
  </wsdl:message>
  <wsdl:message name="ILocationService_createAddress_InputMessage">
    <wsdl:part name="parameters" element="tns:createAddress" />
  </wsdl:message>
  <wsdl:message name="ILocationService_createAddress_OutputMessage">
    <wsdl:part name="parameters" element="tns:createAddressResponse" />
  </wsdl:message>
  <wsdl:message name="ILocationService_updateAddress_InputMessage">
    <wsdl:part name="parameters" element="tns:updateAddress" />
  </wsdl:message>
  <wsdl:message name="ILocationService_updateAddress_OutputMessage">
    <wsdl:part name="parameters" element="tns:updateAddressResponse" />
  </wsdl:message>
  <wsdl:message name="ILocationService_deleteAddress_InputMessage">
    <wsdl:part name="parameters" element="tns:deleteAddress" />
  </wsdl:message>
  <wsdl:message name="ILocationService_deleteAddress_OutputMessage">
    <wsdl:part name="parameters" element="tns:deleteAddressResponse" />
  </wsdl:message>
  <wsdl:portType name="ILocationService">
    <wsdl:operation name="getCountries">
      <wsdl:input wsaw:Action="http://tempuri.org/ILocationService/getCountries" message="tns:ILocationService_getCountries_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILocationService/getCountriesResponse" message="tns:ILocationService_getCountries_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getZipcodesById">
      <wsdl:input wsaw:Action="http://tempuri.org/ILocationService/getZipcodesById" message="tns:ILocationService_getZipcodesById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILocationService/getZipcodesByIdResponse" message="tns:ILocationService_getZipcodesById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="createAddress">
      <wsdl:input wsaw:Action="http://tempuri.org/ILocationService/createAddress" message="tns:ILocationService_createAddress_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILocationService/createAddressResponse" message="tns:ILocationService_createAddress_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="updateAddress">
      <wsdl:input wsaw:Action="http://tempuri.org/ILocationService/updateAddress" message="tns:ILocationService_updateAddress_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILocationService/updateAddressResponse" message="tns:ILocationService_updateAddress_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="deleteAddress">
      <wsdl:input wsaw:Action="http://tempuri.org/ILocationService/deleteAddress" message="tns:ILocationService_deleteAddress_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILocationService/deleteAddressResponse" message="tns:ILocationService_deleteAddress_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="locationServiceTcp" type="tns:ILocationService">
    <wsp:PolicyReference URI="#locationServiceTcp_policy">
    </wsp:PolicyReference>
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="getCountries">
      <soap12:operation soapAction="http://tempuri.org/ILocationService/getCountries" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getZipcodesById">
      <soap12:operation soapAction="http://tempuri.org/ILocationService/getZipcodesById" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="createAddress">
      <soap12:operation soapAction="http://tempuri.org/ILocationService/createAddress" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateAddress">
      <soap12:operation soapAction="http://tempuri.org/ILocationService/updateAddress" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteAddress">
      <soap12:operation soapAction="http://tempuri.org/ILocationService/deleteAddress" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="locationServiceHttp" type="tns:ILocationService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getCountries">
      <soap:operation soapAction="http://tempuri.org/ILocationService/getCountries" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getZipcodesById">
      <soap:operation soapAction="http://tempuri.org/ILocationService/getZipcodesById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="createAddress">
      <soap:operation soapAction="http://tempuri.org/ILocationService/createAddress" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateAddress">
      <soap:operation soapAction="http://tempuri.org/ILocationService/updateAddress" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteAddress">
      <soap:operation soapAction="http://tempuri.org/ILocationService/deleteAddress" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="LocationService">
    <wsdl:port name="locationServiceTcp" binding="tns:locationServiceTcp">
      <soap12:address location="net.tcp://localhost:42002/locationServiceTcp" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:42002/locationServiceTcp</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Upn>LAPTOP-JTT004BD\mwe1</Upn>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
    <wsdl:port name="locationServiceHttp" binding="tns:locationServiceHttp">
      <soap:address location="http://localhost:43002/locationServiceHttp" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>