MixMixMVC/MixMixMVC/Connected Services/DrinkServiceReference/DrinkService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="DrinkService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="drinkServiceHttps_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <sp:HttpsToken RequireClientCertificate="false" />
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
            <sp:IncludeTimestamp />
          </wsp:Policy>
        </sp:TransportBinding>
        <sp:EndorsingSupportingTokens xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:SecureConversationToken sp:IncludeToken="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy/IncludeToken/AlwaysToRecipient">
              <wsp:Policy>
                <sp:BootstrapPolicy>
                  <wsp:Policy>
                    <sp:SignedParts>
                      <sp:Body />
                      <sp:Header Name="To" Namespace="http://www.w3.org/2005/08/addressing" />
                      <sp:Header Name="From" Namespace="http://www.w3.org/2005/08/addressing" />
                      <sp:Header Name="FaultTo" Namespace="http://www.w3.org/2005/08/addressing" />
                      <sp:Header Name="ReplyTo" Namespace="http://www.w3.org/2005/08/addressing" />
                      <sp:Header Name="MessageID" Namespace="http://www.w3.org/2005/08/addressing" />
                      <sp:Header Name="RelatesTo" Namespace="http://www.w3.org/2005/08/addressing" />
                      <sp:Header Name="Action" Namespace="http://www.w3.org/2005/08/addressing" />
                    </sp:SignedParts>
                    <sp:EncryptedParts>
                      <sp:Body />
                    </sp:EncryptedParts>
                    <sp:TransportBinding>
                      <wsp:Policy>
                        <sp:TransportToken>
                          <wsp:Policy>
                            <sp:HttpsToken RequireClientCertificate="false" />
                          </wsp:Policy>
                        </sp:TransportToken>
                        <sp:AlgorithmSuite>
                          <wsp:Policy>
                            <sp:Basic256 />
                          </wsp:Policy>
                        </sp:AlgorithmSuite>
                        <sp:Layout>
                          <wsp:Policy>
                            <sp:Strict />
                          </wsp:Policy>
                        </sp:Layout>
                        <sp:IncludeTimestamp />
                      </wsp:Policy>
                    </sp:TransportBinding>
                    <sp:SignedSupportingTokens>
                      <wsp:Policy>
                        <sp:UsernameToken sp:IncludeToken="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy/IncludeToken/AlwaysToRecipient">
                          <wsp:Policy>
                            <sp:WssUsernameToken10 />
                          </wsp:Policy>
                        </sp:UsernameToken>
                      </wsp:Policy>
                    </sp:SignedSupportingTokens>
                    <sp:Wss11>
                      <wsp:Policy />
                    </sp:Wss11>
                    <sp:Trust10>
                      <wsp:Policy>
                        <sp:MustSupportIssuedTokens />
                        <sp:RequireClientEntropy />
                        <sp:RequireServerEntropy />
                      </wsp:Policy>
                    </sp:Trust10>
                  </wsp:Policy>
                </sp:BootstrapPolicy>
              </wsp:Policy>
            </sp:SecureConversationToken>
          </wsp:Policy>
        </sp:EndorsingSupportingTokens>
        <sp:Wss11 xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy />
        </sp:Wss11>
        <sp:Trust10 xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:MustSupportIssuedTokens />
            <sp:RequireClientEntropy />
            <sp:RequireServerEntropy />
          </wsp:Policy>
        </sp:Trust10>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="https://localhost:43004/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="https://localhost:43004/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="https://localhost:43004/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Entities" />
      <xsd:import schemaLocation="https://localhost:43004/?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IDrinkService_GetAvailableDrinks_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAvailableDrinks" />
  </wsdl:message>
  <wsdl:message name="IDrinkService_GetAvailableDrinks_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAvailableDrinksResponse" />
  </wsdl:message>
  <wsdl:message name="IDrinkService_FindDrinkPriceById_InputMessage">
    <wsdl:part name="parameters" element="tns:FindDrinkPriceById" />
  </wsdl:message>
  <wsdl:message name="IDrinkService_FindDrinkPriceById_OutputMessage">
    <wsdl:part name="parameters" element="tns:FindDrinkPriceByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IDrinkService_CheckDrinkName_InputMessage">
    <wsdl:part name="parameters" element="tns:CheckDrinkName" />
  </wsdl:message>
  <wsdl:message name="IDrinkService_CheckDrinkName_OutputMessage">
    <wsdl:part name="parameters" element="tns:CheckDrinkNameResponse" />
  </wsdl:message>
  <wsdl:message name="IDrinkService_CreateDrink_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateDrink" />
  </wsdl:message>
  <wsdl:message name="IDrinkService_CreateDrink_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateDrinkResponse" />
  </wsdl:message>
  <wsdl:message name="IDrinkService_FindAllIngredients_InputMessage">
    <wsdl:part name="parameters" element="tns:FindAllIngredients" />
  </wsdl:message>
  <wsdl:message name="IDrinkService_FindAllIngredients_OutputMessage">
    <wsdl:part name="parameters" element="tns:FindAllIngredientsResponse" />
  </wsdl:message>
  <wsdl:message name="IDrinkService_FindAllMeasurements_InputMessage">
    <wsdl:part name="parameters" element="tns:FindAllMeasurements" />
  </wsdl:message>
  <wsdl:message name="IDrinkService_FindAllMeasurements_OutputMessage">
    <wsdl:part name="parameters" element="tns:FindAllMeasurementsResponse" />
  </wsdl:message>
  <wsdl:message name="IDrinkService_FindIngredient_InputMessage">
    <wsdl:part name="parameters" element="tns:FindIngredient" />
  </wsdl:message>
  <wsdl:message name="IDrinkService_FindIngredient_OutputMessage">
    <wsdl:part name="parameters" element="tns:FindIngredientResponse" />
  </wsdl:message>
  <wsdl:message name="IDrinkService_FindMeasurement_InputMessage">
    <wsdl:part name="parameters" element="tns:FindMeasurement" />
  </wsdl:message>
  <wsdl:message name="IDrinkService_FindMeasurement_OutputMessage">
    <wsdl:part name="parameters" element="tns:FindMeasurementResponse" />
  </wsdl:message>
  <wsdl:portType name="IDrinkService">
    <wsdl:operation name="GetAvailableDrinks">
      <wsdl:input wsaw:Action="http://tempuri.org/IDrinkService/GetAvailableDrinks" message="tns:IDrinkService_GetAvailableDrinks_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDrinkService/GetAvailableDrinksResponse" message="tns:IDrinkService_GetAvailableDrinks_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FindDrinkPriceById">
      <wsdl:input wsaw:Action="http://tempuri.org/IDrinkService/FindDrinkPriceById" message="tns:IDrinkService_FindDrinkPriceById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDrinkService/FindDrinkPriceByIdResponse" message="tns:IDrinkService_FindDrinkPriceById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CheckDrinkName">
      <wsdl:input wsaw:Action="http://tempuri.org/IDrinkService/CheckDrinkName" message="tns:IDrinkService_CheckDrinkName_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDrinkService/CheckDrinkNameResponse" message="tns:IDrinkService_CheckDrinkName_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateDrink">
      <wsdl:input wsaw:Action="http://tempuri.org/IDrinkService/CreateDrink" message="tns:IDrinkService_CreateDrink_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDrinkService/CreateDrinkResponse" message="tns:IDrinkService_CreateDrink_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FindAllIngredients">
      <wsdl:input wsaw:Action="http://tempuri.org/IDrinkService/FindAllIngredients" message="tns:IDrinkService_FindAllIngredients_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDrinkService/FindAllIngredientsResponse" message="tns:IDrinkService_FindAllIngredients_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FindAllMeasurements">
      <wsdl:input wsaw:Action="http://tempuri.org/IDrinkService/FindAllMeasurements" message="tns:IDrinkService_FindAllMeasurements_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDrinkService/FindAllMeasurementsResponse" message="tns:IDrinkService_FindAllMeasurements_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FindIngredient">
      <wsdl:input wsaw:Action="http://tempuri.org/IDrinkService/FindIngredient" message="tns:IDrinkService_FindIngredient_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDrinkService/FindIngredientResponse" message="tns:IDrinkService_FindIngredient_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FindMeasurement">
      <wsdl:input wsaw:Action="http://tempuri.org/IDrinkService/FindMeasurement" message="tns:IDrinkService_FindMeasurement_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDrinkService/FindMeasurementResponse" message="tns:IDrinkService_FindMeasurement_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="drinkServiceHttps" type="tns:IDrinkService">
    <wsp:PolicyReference URI="#drinkServiceHttps_policy" />
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAvailableDrinks">
      <soap12:operation soapAction="http://tempuri.org/IDrinkService/GetAvailableDrinks" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FindDrinkPriceById">
      <soap12:operation soapAction="http://tempuri.org/IDrinkService/FindDrinkPriceById" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckDrinkName">
      <soap12:operation soapAction="http://tempuri.org/IDrinkService/CheckDrinkName" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateDrink">
      <soap12:operation soapAction="http://tempuri.org/IDrinkService/CreateDrink" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FindAllIngredients">
      <soap12:operation soapAction="http://tempuri.org/IDrinkService/FindAllIngredients" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FindAllMeasurements">
      <soap12:operation soapAction="http://tempuri.org/IDrinkService/FindAllMeasurements" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FindIngredient">
      <soap12:operation soapAction="http://tempuri.org/IDrinkService/FindIngredient" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FindMeasurement">
      <soap12:operation soapAction="http://tempuri.org/IDrinkService/FindMeasurement" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DrinkService">
    <wsdl:port name="drinkServiceHttps" binding="tns:drinkServiceHttps">
      <soap12:address location="https://localhost:43004/SecureService" />
      <wsa10:EndpointReference>
        <wsa10:Address>https://localhost:43004/SecureService</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>