MixMixMVC/MixMixMVC/Connected Services/DrinkServiceReference/item2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://localhost:43004/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Entities" />
  <xs:import schemaLocation="https://localhost:43004/?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="GetAvailableDrinks">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Entities" minOccurs="0" name="bar" nillable="true" type="q1:Bar" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAvailableDrinksResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetAvailableDrinksResult" nillable="true" type="q2:ArrayOfKeyValueOfintDrinkViewModelMIK_P8A7e" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindDrinkPriceById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="drinkId" type="xs:int" />
        <xs:element minOccurs="0" name="barId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindDrinkPriceByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FindDrinkPriceByIdResult" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckDrinkName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckDrinkNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CheckDrinkNameResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateDrink">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Entities" minOccurs="0" name="drink" nillable="true" type="q3:Drink" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateDrinkResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Entities" minOccurs="0" name="CreateDrinkResult" nillable="true" type="q4:Drink" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindAllIngredients">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="FindAllIngredientsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Entities" minOccurs="0" name="FindAllIngredientsResult" nillable="true" type="q5:ArrayOfIngredient" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindAllMeasurements">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="FindAllMeasurementsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Entities" minOccurs="0" name="FindAllMeasurementsResult" nillable="true" type="q6:ArrayOfMeasurement" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindIngredient">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindIngredientResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Entities" minOccurs="0" name="FindIngredientResult" nillable="true" type="q7:Ingredient" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindMeasurement">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindMeasurementResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Entities" minOccurs="0" name="FindMeasurementResult" nillable="true" type="q8:Measurement" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>